<h1>Posts#edit</h1>

<%= form_with model: @post, url: public_user_post_path(@post) do |f| %>
    <div>
      <%= f.label :投稿名 %><br>
      <%= f.text_field :post_name %>
    </div>
    <div>
      <%= f.label :画像 %><br>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div>
      <%= f.label :説明 %>
      <%= f.text_field :sentence %>
    </div>
    <%= f.label(:public, for: nil) do %>
        <%= f.radio_button :status, :public %>
        <%= I18n.t("enums.post.status.public") %>
    <% end %>
    <%= f.label(:private, for: nil) do %>
      <%= f.radio_button :status, :non_public %>
      <%= I18n.t("enums.post.status.non_public") %>
    <% end %>
    <div><%= f.submit "更新する" %></div>
<% end %>