<h1>Posts#index</h1>
<% @post.each do |post| %>
  <div>
    <% if @user && @user.avatar? %>
     <%= image_tag @user.avatar.url %>
    <% else %>
     <%= image_tag("no_image.jpg") %>
    <% end %>
    <%= link_to public_post_path(post.id) do %>
      <%= image_tag post.get_image %>
    <% end %>
    <p>説明：<%= post.sentence %></p>
  </div>
<% end %>
