<h2>Follower Users</h2>
<% if @users.exists? %>
  <% @users.each do |user| %>
    <%= link_to public_user_path(id: user.id) do %>
      <%= image_tag user.get_profile_image(50,50) %>
    <% end %>
    <%= user.name %>
    <p>フォロー数:</p> <%= user.followings.count %>
    <p>フォロワー数:</p> <%= user.followers.count %>
    <%= render "public/relationships/btn", user: user, options: { class: "follow-link" } %>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>