<h1>投稿報告</h1>
<% if @reports.blank? %>
 <h4>報告はありません</h4>
<% end %>

<% @reports.each do |report| %>
  <%= link_to admin_user_path(report.user_id) do %>
    <%= report.user_id %>
  <% end %>
  <%= link_to admin_post_path(report.post_id) do %>
    <%= report.post_id %>
  <% end %>
  <%= report.reports %>
<% end %>