<h4>いいねした投稿</h4>
<% @liked_posts.each do |post| %>
  <%= post.post_name %>
  <%= image_tag post.get_image %>
  <p>説明：<%= post.sentence %></p>
  <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
<% end %>
<div>
  <%= paginate @liked_posts %>
</div>